<% provide(:title, @group.name) %>
<h1><%= @group.name %></h1>

<ul>
  <li><%= @group.name %></li>
  <li><%= @group.primary_investigator %></li>
  <li><%= @group.department %></li>
  <li><%= @group.office %></li>
  <li><%= @group.phone %></li>
</ul>
